# LETS DO IT BOYSSSSSS

In [67]:
import gzip
import json
import random
import numpy as np
import pandas as pd

In [68]:
def reading_gz(filename):
    f = gzip.open(filename, 'rt', encoding="utf8")
    lines = []
    for line in f:
        liness = json.loads(line.strip())
        lines.append(liness)
    return lines

In [69]:
data_modcloth = reading_gz('modcloth_final_data.json.gz')
data_renttherunway = reading_gz('renttherunway_final_data.json.gz')

The data_modcloth has 82790 data and the data_renttherunway has 192544 items

In [70]:
len(data_modcloth),len(data_renttherunway)

(82790, 192544)

In [71]:
data_tb = pd.DataFrame(data_renttherunway)

In [72]:
data_tb

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age,review_date
0,fit,420272,34d,2260466,137lbs,10,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,"5' 8""",14,28,"April 20, 2016"
1,fit,273551,34b,153475,132lbs,10,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,"5' 6""",12,36,"June 18, 2013"
2,fit,360448,NaN,1063761,NaN,10,party,This hugged in all the right places! It was a ...,NaN,It was a great time to celebrate the (almost) ...,sheath,"5' 4""",4,116,"December 14, 2015"
3,fit,909926,34c,126335,135lbs,8,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,"5' 5""",8,34,"February 12, 2014"
4,fit,151944,34b,616682,145lbs,10,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,"5' 9""",12,27,"September 26, 2016"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192539,fit,66386,34dd,2252812,140lbs,10,work,Fit like a glove!,hourglass,LOVE IT!!! First Item Im thinking of buying!,jumpsuit,"5' 9""",8,42,"May 18, 2016"
192540,fit,118398,32c,682043,100lbs,10,work,The pattern contrast on this dress is really s...,petite,LOVE it!,dress,"5' 1""",4,29,"September 30, 2016"
192541,fit,47002,36a,683251,135lbs,6,everyday,"Like the other DVF wraps, the fit on this is f...",straight & narrow,"Loud patterning, flattering fit",dress,"5' 8""",8,31,"March 4, 2016"
192542,fit,961120,36c,126335,165lbs,10,wedding,This dress was PERFECTION. it looked incredib...,pear,loved this dress it was comfortable and photog...,dress,"5' 6""",16,31,"November 25, 2015"
192543,fit,123612,36b,127865,155lbs,10,wedding,This dress was wonderful! I had originally pla...,athletic,I wore this to a beautiful black tie optional ...,gown,"5' 6""",16,30,"August 29, 2017"

#  data_renttherunway

In [73]:
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy
import urllib
import scipy.optimize
import random
from collections import defaultdict # Dictionaries with default values
import nltk
import string
from nltk.stem.porter import *
from sklearn import linear_model
import ast
import numpy as np

In [74]:
np.random.shuffle(data_renttherunway)

In [75]:
num_90th = int(len(data_renttherunway)*0.9)
num_90th

173289

In [76]:
train_set = data_renttherunway[0:num_90th]
validation_set = data_renttherunway[num_90th:]

## updating the category

In [77]:
categorys= np.unique([w['category'] for w in data_renttherunway])
categoryId = dict(zip(categorys, 
                  range(len(categorys))))

In [78]:
categorys

array(['ballgown', 'blazer', 'blouse', 'blouson', 'bomber', 'buttondown',
       'caftan', 'cami', 'cape', 'cardigan', 'coat', 'combo', 'crewneck',
       'culotte', 'culottes', 'down', 'dress', 'duster', 'for', 'frock',
       'gown', 'henley', 'hoodie', 'jacket', 'jeans', 'jogger',
       'jumpsuit', 'kaftan', 'kimono', 'knit', 'legging', 'leggings',
       'maxi', 'midi', 'mini', 'overalls', 'overcoat', 'pant', 'pants',
       'parka', 'peacoat', 'poncho', 'print', 'pullover', 'romper',
       'sheath', 'shift', 'shirt', 'shirtdress', 'skirt', 'skirts',
       'skort', 'suit', 'sweater', 'sweatershirt', 'sweatpants',
       'sweatshirt', 't-shirt', 'tank', 'tee', 'tight', 'top', 'trench',
       'trouser', 'trousers', 'tunic', 'turtleneck', 'vest'], dtype='<U12')

There are some repeated meaning category, so we need to stem the category

In [79]:
stemmer = PorterStemmer()

In [80]:
category_stem= np.unique([stemmer.stem(w['category'])for w in data_renttherunway])
categorystemId = dict(zip(categorys, 
                  range(len(categorys))))

In [81]:
category_stem

array(['ballgown', 'blazer', 'blous', 'blouson', 'bomber', 'buttondown',
       'caftan', 'cami', 'cape', 'cardigan', 'coat', 'combo', 'crewneck',
       'culott', 'down', 'dress', 'duster', 'for', 'frock', 'gown',
       'henley', 'hoodi', 'jacket', 'jean', 'jogger', 'jumpsuit',
       'kaftan', 'kimono', 'knit', 'leg', 'maxi', 'midi', 'mini',
       'overal', 'overcoat', 'pant', 'parka', 'peacoat', 'poncho',
       'print', 'pullov', 'romper', 'sheath', 'shift', 'shirt',
       'shirtdress', 'skirt', 'skort', 'suit', 'sweater', 'sweatershirt',
       'sweatpant', 'sweatshirt', 't-shirt', 'tank', 'tee', 'tight',
       'top', 'trench', 'trouser', 'tunic', 'turtleneck', 'vest'],
      dtype='<U12')

In [82]:
def category_identity (category):
    category = stemmer.stem(category)
    poncho = ['poncho','crewneck','cape']
    coat = ['coat','peacoat','overcoat','suit','blazer','bomber','jacket','parka','tunic']
    tshirt = ['t-shirt','tee','shirt','shift','shirtdress','skirt','skort','top','vest','blous','blous','blouson','cami','mini']
    sweater = ['sweater','sweatershirt','sweatshirt','caftan','cardigan','henley','hoodi','midi','pullov','blou']
    culott = ['culott','frock','jumpsuit','ballgown','buttondown','combo','dress','gown','kaftan',
              'kimono','maxi','romper','sheath','turtleneck']
    overal = ['overal','duster','knit','print','tank','trench','for','over']
    down = ['down','jean','jogger','leg','pant','sweatpant','tight','trouser',]
    if category in poncho:
        return 'poncho'
    if category in coat:
        return 'coat'
    if category in tshirt:
        return 'tshirt'
    if category in sweater:
        return 'sweater'
    if category in culott:
        return 'culott'
    if category in overal:
        return 'overal' 
    if category in down:
        return 'down' 
    return category

In [83]:
data_tb['catgory'] = data_tb.category.apply(category_identity)

In [84]:
np.unique(([category_identity(d) for d in category_stem]))

array(['coat', 'culott', 'down', 'overal', 'poncho', 'sweater', 'tshirt'],
      dtype='<U7')

In [85]:
data_tb

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age,review_date,catgory
0,fit,420272,34d,2260466,137lbs,10,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,"5' 8""",14,28,"April 20, 2016",culott
1,fit,273551,34b,153475,132lbs,10,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,"5' 6""",12,36,"June 18, 2013",culott
2,fit,360448,NaN,1063761,NaN,10,party,This hugged in all the right places! It was a ...,NaN,It was a great time to celebrate the (almost) ...,sheath,"5' 4""",4,116,"December 14, 2015",culott
3,fit,909926,34c,126335,135lbs,8,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,"5' 5""",8,34,"February 12, 2014",culott
4,fit,151944,34b,616682,145lbs,10,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,"5' 9""",12,27,"September 26, 2016",culott
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192539,fit,66386,34dd,2252812,140lbs,10,work,Fit like a glove!,hourglass,LOVE IT!!! First Item Im thinking of buying!,jumpsuit,"5' 9""",8,42,"May 18, 2016",culott
192540,fit,118398,32c,682043,100lbs,10,work,The pattern contrast on this dress is really s...,petite,LOVE it!,dress,"5' 1""",4,29,"September 30, 2016",culott
192541,fit,47002,36a,683251,135lbs,6,everyday,"Like the other DVF wraps, the fit on this is f...",straight & narrow,"Loud patterning, flattering fit",dress,"5' 8""",8,31,"March 4, 2016",culott
192542,fit,961120,36c,126335,165lbs,10,wedding,This dress was PERFECTION. it looked incredib...,pear,loved this dress it was comfortable and photog...,dress,"5' 6""",16,31,"November 25, 2015",culott
192543,fit,123612,36b,127865,155lbs,10,wedding,This dress was wonderful! I had originally pla...,athletic,I wore this to a beautiful black tie optional ...,gown,"5' 6""",16,30,"August 29, 2017",culott

## update the weight

In [61]:
data_tb['size'].mean()

12.245175128801728

In [114]:
#convert to weight to float then minus the average of weight
def convert_weight(strin):
    if isinstance(strin, str):
        return (float(strin.strip('lbs')) -137) *0.4535
    else:
        return (float(strin) - 137) *0.4535
    
#convert to height to cm then minus the average of height
def convert_height(strin):
    if isinstance(strin, str):
        #print(strin)
        fet, inc = strin.split()
        fet = float(fet.strip("'").strip('"'))
        inc = float(inc.strip("'").strip('"'))
        return (fet * 30.48+ inc * 2.54) - 165.89

def normalize_the_size(strin):
    return strin - 12.245175128801728
#fillna with the average - average, which is 0
data_tb.weight = data_tb.weight.apply(convert_weight).fillna(0)
data_tb.height = data_tb.height.apply(convert_height).fillna(0)

#change the size to float
data_tb['size'] = data_tb['size'].astype(float).apply(normalize_the_size)

In [111]:
data_tb.height.apply(convert_height).fillna(0).std()

6.753335257526709

In [112]:
data_tb.weight.apply(convert_weight).fillna(0).std()

9.125903724116197

In [113]:
data_tb['size'].astype(float).apply(normalize_the_size).std()

8.494876687232058

since we think the height people tend to have a higher weight and bigger size of dress, so we add those three value together.

In [125]:
data_tb['size_guess_fit'] = data_tb['weight'] + data_tb['height'] + data_tb['size']

In [127]:
data_tb[data_tb.fit != 'fit']

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age,review_date,catgory,size_guess_fit
10,small,185966,34b,1077123,-0.9070,8,party,The dress arrived with a small hole in the bea...,athletic,It was fun to wear a dress I wouldn't normally...,dress,-5.87,-0.245175,33,"January 2, 2018",culott,-7.022175
11,large,533900,34b,130259,-0.9070,8,wedding,This dress was absolutely gorgeous and I recei...,pear,"Stunning dress, perfect for a New Year's Eve w...",dress,1.75,-4.245175,30,"January 7, 2013",culott,-3.402175
13,large,391778,36d,143094,2.2675,8,party,I ordered this dress as a replacement because ...,apple,Ordered this as a replacement dress,dress,-8.41,7.754825,29,"October 4, 2014",culott,1.612325
19,small,16800,34c,1229740,-0.9070,10,formal affair,"super cute, 8 was super tight so i wore the 10...",petite,gala ready,gown,1.75,8.754825,33,"November 16, 2017",culott,9.597825
27,small,610914,32c,1739627,1.3605,10,party,"Lovely fabric, heavier than I imagined it woul...",hourglass,Runs small,dress,-5.87,-8.245175,32,"March 10, 2016",culott,-12.754675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192528,small,597756,38dd,300980,37.6405,10,wedding,First time using RTR. I wasn't sure what to ex...,full bust,I felt fierce in this dress!,dress,-3.33,22.754825,32,"November 12, 2017",culott,57.065325
192531,small,136279,32b,330238,-9.9770,8,date,The dress is very tight around the butt and hi...,athletic,Hot dress. Lots of compliments from strangers.,sheath,1.75,-8.245175,32,"June 2, 2015",culott,-16.472175
192532,small,838239,36c,863680,5.8955,10,wedding,Absolutely stunning dress. details and tulle m...,hourglass,"Made for a princess. Stunning, elegant, great ...",dress,-13.49,11.754825,55,"July 25, 2017",culott,4.160325
192536,large,442241,34d,166633,-4.5350,8,wedding,Based on reviews I ordered a 4 and a 6. The 4 ...,full bust,"I received so many compliments on the dress, ...",mini,-0.79,-4.245175,33,"April 15, 2014",tshirt,-9.570175
192538,large,41453,34d,326784,-0.9070,8,wedding,I wore this dress at my rehearsal dinner and i...,hourglass,"Perfect rehearsal dinner for the ""not all whit...",dress,-8.41,-8.245175,27,"May 31, 2016",culott,-17.562175

In [38]:
cv = TfidfVectorizer(stop_words = 'english',ngram_range=(1,1),sublinear_tf = True)
x_text_train = [d['review_text'] for d in train_set]
x_train_cv = cv.fit_transform(x_text_train)

In [39]:
x_train_cv

<173289x26893 sparse matrix of type '<class 'numpy.float64'>'
	with 3919507 stored elements in Compressed Sparse Row format>

Moreover, there is still has some repeated categories such as t_shirt and tee, blous and blouson, sweater, sweatershirt and sweatshirt. Therefore, we need to clear the category type futher

In [120]:
x_text_train = [d['review_text'] for d in train_set]
y_text_train = [d['category'] for d in train_set]
x_text_test = [d['review_text'] for d in validation_set]
y_text_test = [d['category'] for d in validation_set]